<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
	<div class="container">
	  <% include ../partials/nav.ejs %>
	</div>
	<header id="about-header">
		<div class="container">
			<div class="row">
				<h1>About</h1>
			</div>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p>Chinese Students and Scholars Association at New York University (CSSA@NYU) is the largest organization for Chinese student and alumni community at NYU.</p>
					<p>With over 4,000 registered members, it is also one of the largest Chinese student organizations in the US. CSSA@NYU has established a long tradition to offer excellent performances, social events, and career services to all NYU students, alumni and scholars in the greater New York area. Our mission is to unite the Chinese students, serve the local Chinese community on behalf of NYU and promote the communication and dialogue between China and US.</p>
				</div>
			</div>
		</div>
	</header>


	<% include ../partials/footer.ejs %>

   <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/cbpAnimatedHeader.js"></script>

    <script src="/js/custom.js"></script>

    <script>
    	$(document).ready(function(){
    		$('.nav li').removeClass('active');
    		$('#nav_about').addClass('active');
    	})
    </script>

</body>
</html>